<center>
<h2> <%= @game.players[0].name %> vs. <%= @game.players[1].name %> </h2>

<p> Both players starting with 60HP </p>
<p> <%= @game.players[0].name %>: <%= @game.players[0].hit_points %>HP</p>
<p> <%= @game.players[1].name %>: <%= @game.players[1].hit_points %>HP</p>

<p> <%= @game.whos_turn.name%>'s turn</p>



<div id="attack_button">
  <form action="/attack" method="get">
    <input type ="submit" value="Attack!!" />
  </form>
</div>
</center>
