<head>
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
</head>

<body style="font-family: 'Orbitron', sans-serif; width: 500px; margin: 30px auto; text-align: center;">

<h1><%=@player1%> vs. <%=@player2%></h1>

<h2> <%= @player1%> <%=@player1_hp %>hp</h2>
<h2> <%= @player2%> <%=@player2_hp %>hp </h2>


</body>
